{template 'header'}
<div class="container">
	<div class="panel">
		<div class="hd">
		    <h1 class="page_title">出租大厅</h1>
		</div>
		<div class="bd">
		    <div class="weui_panel weui_panel_access">
		        <div class="weui_panel_bd" id="list_container">
		        	{loop $list $item}
		            <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
		                <div class="weui_media_hd">
		                    <img class="weui_media_appmsg_thumb" src="{php echo $item['uinfo']['headimgurl']}" alt="">
		                </div>
		                <div class="weui_media_bd">
		                    <h4 class="weui_media_title">{php echo $item['uinfo']['nickname']}</h4>
		                    <p class="weui_media_desc">时薪：￥{php echo $item['salary']}</p>
		                </div>
		            </a>
		            {/loop}
		        </div>
		    </div>
		</div>
	</div>
	<!-- bottom -->
	<div style="text-align:center;" id="listload_more">
		<p>上拉加载更多</p>
	</div>
	<!-- loading -->
	<div id="loading_more_layer" style="display:none;text-align:center;">
	    <p>加载中...</p>
	    <i class="ui-loading"></i>
	</div>
	<div id="loading_over" style="display:none;text-align:center;">
	    <p>已全部加载完毕</p>
	</div>
	<div style="height:100px;" id="bottom_sign">
	</div>
</div>
{template 'menu'}

<!-- hide -->
<script type="text/javascript">
// init page
var page = 2;
var load_key = true;

window.onscroll = function() {
	var div_top = $("#bottom_sign").offset().top;
	var scroll_top = $("body").scrollTop();
	var window_height = $(window).height();

	if(div_top - scroll_top <= window_height && load_key)
	{
		listload();
	}
}

function listload() {
	load_key = false;
	var _self = $('#listload_more');
	
	_self.hide();
	$("#loading_more_layer").show();

	$.ajax({
		type:'post',
		data:{'page':page},
		url : "{php echo $this->createMobileUrl('LoadListMore')}",
		success :function(d) {
			if(d.res == '100') {
				var html = '';
				for (var i in d.list) {
					var info = d.list[i];
					html +='<a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">';
					html +='<div class="weui_media_hd">';
					html +='<img class="weui_media_appmsg_thumb" src="'+info.uinfo['headimgurl']+'" alt="">';
					html +='</div>';
					html +='<div class="weui_media_bd">';
					html +='<h4 class="weui_media_title">'+info.uinfo['nickname']+'</h4>';
					html +='<p class="weui_media_desc">时薪：￥'+info.salary+'</p>';
					html +='</div>';
					html +='</a>';
				}
				$("#list_container").append(html);
				page ++;
				load_key = true;
				// loading 
				$("#loading_more_layer").hide();
				_self.show();
			}else if(d.res=='102') {
				$("#loading_more_layer").hide();
				$("#loading_over").show();
			}
		}
	})
}
</script>
{template 'footer'}